.jsui-dialog {
	position:fixed;
	box-sizing:border-box;
	border:1px solid lightgrey;
	background-color:white;
	overflow:hidden;
	top:0px;
	left:0px;
	width:1px;
	height:1px;
}

.jsui-dialog-header {
	background-color : #B5B5B5;
	position:absolute;
	left:0px;
	width:100%;
	top:0px;
	box-sizing:border-box;
	padding-left:10px;
	font-size:50px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    cursor:default;
}

.jsui-dialog-content {
	position:absolute;
	top:25px;
	bottom:25px;
	overflow:auto;
}


.jsui-dialog-footer {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:25px;
	box-sizing:border-box;
	background-color : gray;
}



.move-object-start *{
	cursor:default !important;
	-moz-user-select: none;
	-ms-user-select:none;
	-khtml-user-select: none;
	user-select: none; 
	-webkit-user-select:none;
}




.jsui-dialog-header-buttons {
    position:absolute;
	display:block;
	right:0px;
	top:0px;
    font-size:0px;
    background-color:inherit;
}

.jsui-di-button {
    display:inline-block;
    padding:2px;
    padding-right:0px;
    padding-left:0px;
	background-color:inherit;
}

.jsui-di-button:hover {
	background-color:lightgray;
}

.jsui-icon {
	width:16px;
	height:16px;
	display:inline-block;
	background-image:url(/sprite.png);
	opacity:0.8;
}
.jsui-di-button:hover .jsui-icon {
	opacity:1 ;
}




.jsui-di-max {
	background-position: -48px -144px;
}

.jsui-di-close{
    background-position:-48px -16px;
}

.jsui-di-min{
    background-position:-80px -288px;
}
.jsui-di-restore{
    background-position:-48px -128px;
}